<main class="content">
    <% if (locals.notice) { %>
        <div class="flash notice">
            <% if (Array.isArray(locals.notice)) { %>
                <% locals.notice.forEach(n=> { %><p>
                        <%= n %>
                    </p>
                    <% }) %>
                        <% } else { %>
                            <p>
                                <%= locals.notice %>
                            </p>
                            <% } %>
        </div>
        <% } %>

            <% if (errors && errors.length) { %>
                <div class="errors">
                    <ul>
                        <% errors.forEach(e=> { %>
                            <li>
                                <%= e.msg || e %>
                            </li>
                            <% }); %>
                    </ul>
                </div>
                <% } %>

                    <section class="panel">
                        <h1>You’re logged in</h1>
                        <p><strong>Name:</strong>
                            <%= account.account_firstname %>
                                <%= account.account_lastname %>
                        </p>
                        <p><strong>Email:</strong>
                            <%= account.account_email %>
                        </p>



                    </section>
                    <section class="panel">
                        <% if (locals.loggedin && account) { %>


                            <p>
                                <a class="btn" href="/account/update/<%= account.account_id %>">Update account
                                    information</a>
                            </p>

                            <% if (account.account_type==='Employee' || account.account_type==='Admin' ) { %>
                                <h3>Inventory Management</h3>
                                <p><a class="btn" href="/inv/">Go to Inventory Management</a></p>
                                <% } %>

                                    <form action="/account/logout" method="post" style="margin-top:1rem;">
                                        <button type="submit" class="btn btn-secondary">Log out</button>
                                    </form>

                                    <% } else { %>
                                        <h1>Please log in</h1>
                                        <p><a class="btn" href="/account/login">Go to Login</a></p>
                                        <% } %>
                    </section>



</main>